<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />

    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300|Slabo+13px' rel='stylesheet' type='text/css'>
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="slidedeck">
        <div class="slide">
          <div class="slide-inner" style="background-image:url(http://media.canal-plus.com/wwwplus/image/4/12/3/VIGNETTE_AUTO_660199_H.jpg);">
            <img class="slide-logo" alt="lpj" src="lpj.png" />
            <div class="slide-title-block">
              <h2 class="slide-title">Le Petit Journal du 03/12</h2>
              <h3 class="slide-subtitle">Avec Kylie Minogue</h3>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-inner">SLIDE 2</div>
        </div>
        <div class="slide">
          <div class="slide-inner">SLIDE 3</div>
        </div>
        <div class="slide">
          <div class="slide-inner">SLIDE 4</div>
        </div>
        <div class="slide">
          <div class="slide-inner">SLIDE 5</div>
        </div>
      </ul>
    </div>
  </body>
</html>
